$primaryColor: #85655b;
$secondaryColor: #3c3232;
$fontColor: #ededed;

$bodyFont: "Oswald", sans-serif;
$displayFont: "Raleway", sans-serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

